<app-header></app-header>

<div class="div-content">
  

  <div class="position-absolute top-50 start-50 translate-middle-y">
    <div class="row m-5" *ngIf="loadingHome==false">
      <div class="spinner-grow text-primary" style="width: 2rem; height: 2rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="text" style="width: 1rem; height: 1rem;"></div>
      <div class="spinner-grow text-secondary" style="width: 2rem; height: 2rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="text" style="width: 1rem; height: 1rem;"></div>
      <div class="spinner-grow text-info" style="width: 2rem; height: 2rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <div *ngIf="loadingHome==true">
    <section class="text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light"><b>AIEPGAMES</b></h1>
            <p class="lead text-muted">Información de videojuegos</p>
            <form class="d-flex">
              <input name="textSearch" [(ngModel)]="textSearch" class="form-control me-2" type="search" placeholder="Escribe el titulo del juego" aria-label="Search">
              <button (click)="onClickSearch()" class="btn btn-outline-primary" type="button">Buscar</button>
            </form>
          </div>
        </div>
      </section>
    
      
    
      <div class="album py-5 bg-light">
        <div class="container">
          <div *ngIf="gameList.length==0 && loading==false">
            <h3>
              Sin resultado
            </h3>
          </div>
          <div class="d-flex justify-content-center">
            <div *ngIf="loading==true" class="spinner-border text-primary" style="width: 6rem; height: 6rem;" role="status">
              <span class="visually-hidden">Cargando...</span>
            </div>
          </div>
          <div *ngIf="gameList.length>0" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div *ngFor="let game of gameList" class="col">
              <div class="card shadow-sm">
                <img src="{{game.portada}}" alt="">
                <div class="card-body">
                  <p class="card-text"><b>{{game.titulo}}</b></p>
                  <p class="card-text">{{game.descripcion}}</p>
                  <div class="d-flex justify-content-between align-items-center">

                    <small class="text-muted">Año de lanzamiento: {{game.ano}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
